 <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date %logger%exception - %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data/HSORehdMetrics.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %date %logger - %message%newline" />
      </layout>
    </appender>
   <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
     <mapping>
       <level value="INFO" />
       <backColor value="Light Blue" />
     </mapping>
     <mapping>
       <level value="DEBUG" />
       <backColor value="Green" />
     </mapping>
     <layout type="log4net.Layout.PatternLayout">
       <conversionPattern value="%level %date %logger - %message%newline" />
     </layout>
   </appender>
   <root>
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="ColoredFileAppender" />
    </root>
  </log4net>
