<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--Change the Value to the name of your website-->
  <add key="siteName" value="HSO EOM"/>
    
  <!--Change the Values to the user/pass for LDAP service-->
  <add key="auth.Username" value="hso_eom" />
  <add key="auth.Password" value="EIjVSYubyCcsnlLmAjFK" />

  <!--For authType use WINDOWS or FORMS or DEV-->
  <add key ="authType" value="WINDOWS"/>
  <!--For userIdType use AD or SAP-->
  <add key ="userIdType" value="AD"/>

  
</appSettings>