<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConnectionString" connectionString="DATA SOURCE=HSOC01D;PASSWORD=1994V!per;USER ID=HSO_METRICS" providerName="Oracle.DataAccess.Client" />
  <add name="SignOnConnectionString" connectionString="DATA SOURCE=HSOC01D;PASSWORD=1994V!per;USER ID=hso_signon" providerName="Oracle.DataAccess.Client" />
</connectionStrings>